<!-- layout.html -->
{% extends "layout.njk" %} <!-- we're extending the layout template -->

{% block title %}FlexBox{% endblock %}

{% block content %}

    <!-- add dock to div -->
    {% include "partials/dock1.njk" %}

    <div class="fluid dock tw-container container-col" id="design">
        <!-- widgets, layout, mashups -->

        <!-- design view, connection viewer -->
        <div class="section" id="layout">layout</div>

        <div class="fluid section" id="connections"> connections</div>
    </div>

    <!-- add dock to div -->
    {% include "partials/dock2.njk" %}

{% endblock %}
