<!-- layout.html -->
{% extends "layout.njk" %} <!-- we're extending the layout template -->

{% block title %}FlexBox{% endblock %}

{% block content %}

    <!-- add dock to div -->
    {% include "partials/dock1.njk" %}

    <div class="container fluid" id="design">
        <!-- widgets, layout, mashups -->

            {#<div class="tabs container visible">#}
                {#<div class="primary full tabs container" label="widgets">#}
                    {#Widgets#}
                    {#<!-- adds widgets list to div -->#}
                    {#{% include "partials/widgets.njk" %}#}
                {#</div>#}
                {#<div class="secondary" id="layout">layout</div>#}
                {#<div class="secondary" id="mashups">mashups</div>#}
            {#</div>#}

        <!-- design view, connection viewer -->

                <div class="container fluid" id="workspace">design
        <a href="./IDE_Before.png">IDE Before Image</a></div>
                <div class="container fluid" id="connections" style="height:180px;"> connections</div>

        {#<!-- services, expressions, filters -->#}
            {#<div class="tabs container visible">#}
                {#<div class="primary full" id="widgets">services</div>#}
                {#<div class="secondary" id="layout">expressions</div>#}
                {#<div class="secondary" id="filters">filters</div>#}
            {#</div>#}
    </div>

    <!-- add dock to div -->
    {% include "partials/dock2.njk" %}

{% endblock %}
