<!--dock-->
<!-- need to learn how to give each instance an ID -->
<div class="dock container" id="dock2">Dock 2
        <div class="full panel container" id="data">
            Data
            <!-- adds widgets list to div -->
            {% include "partials/widgets.njk" %}
        </div>
        <div class="secondary panel" id="session">Session</div>
        <div class="secondary panel" id="user">User</div>
        <div class="secondary panel" id="parameters">Parameters</div>
</div>