<!--dock1-->
<!-- need to learn how to give each instance an ID -->
<div class="dock container" id="dock1">Dock 1
        <div class="full panel container" id="widgets">
            Widgets
            <!-- adds widgets list to div -->
            {% include "partials/widgets.njk" %}
        </div>
        <div class="secondary panel" id="workspace">Workspace</div>
        <div class="secondary panel" id="mashups">Mashups</div>
        <div class="secondary panel" id="mashups">Context</div>
</div>