<!--dock-->
<!-- need to learn how to give each instance an ID -->
<div class="dock container" id="dock2">
    <div class="title">Dock 1</div>
    <div class="section" id="upper-right">Panel 1
        <div class="selected panel container" id="data">
            ~Data
        </div>
        <div class="secondary panel" id="session">~Session</div>
        <div class="secondary panel" id="user">~User</div>
    </div>
    <div class="section" id="lower-right">Panel 2
        <div class="selected panel" id="parameters">~Parameters</div>
    </div>
</div>