<!--dock1-->
<!-- need to learn how to give each instance an ID -->
<div class="dock dock-side tw-container container-col" id="dock1">
    <div id="ui-toolbox" class="unselectable section">
        <div class="primary full tabs panel" id="widgets">
            ~Widgets
            <!-- adds widgets list to div -->
            {% include "partials/widgets.njk" %}
        </div>
        <div class="secondary panel" id="workspace">~Workspace</div>
        <div class="secondary panel" id="mashups">~Mashups</div>
    </div>
    <div class="section fluid"  id="lower-left">Panel 2
        <div class="secondary panel" id="context">~Context</div>
    </div>
</div>