$offWhite: #eff;
$shadow: #050;

.ide {
  display: flex;
  min-height: 100vh;
}

.container {
  display: flex;
  border: 1px solid $offWhite;
}

.container-row {
  flex-flow: row nowrap;
}

.container-col {
  flex-flow: column nowrap;
}

.tw-container > div:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.dock {
  display: flex;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  align-self: stretch;
  min-height: 320px;
}

.loaded-dock {
  display: flex;
}

.title {
  align-self: stretch;
}

.tabs {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid $offWhite;
}

// using flex:1 prevents jquery ui resizing if set on both divs in v stack
.fluid {
  flex: 1 1 auto;
  align-self: stretch;
}

/* resizable */
.ui-resizable-helper {
  border: 1px dotted #DC5;
}

container > ui-resizable-handle {

}

#layout {
  min-height: 640px;
}