<!-- widgets.njk -->
            <div class="secondary" id="button">Button</div>
            <div class="secondary" id="grid">Grid</div>
            <div class="secondary" id="textbox">Text Box</div>
